<!-- /partials/nav.html -->
<nav id="desktop-nav">
  <a href="/"><div class="logo">Adi M</div></a>
  <ul class="nav-links">
    <li><a href="/research">Research</a></li>
    <!-- <li><a href="/projects">Projects</a></li> -->
    <li><a href="/cv">CV</a></li>
  </ul>
</nav>

<nav id="hamburger-nav">
  <a href="/"><div class="logo">Adi M</div></a>
  <div class="hamburger-menu">
    <button class="hamburger-icon" aria-expanded="false" aria-controls="menu-links">
      <span></span><span></span><span></span>
    </button>
    <div id="menu-links" class="menu-links">
      <li><a href="/research">Research</a></li>
      <!-- <li><a href="/projects">Projects</a></li> -->
      <li><a href="/cv">CV</a></li>
    </div>
  </div>
</nav>
